<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Entry Page</title>
</head>
<body>
<form action="process" method="post">
  <label for="tickersymbol">Ticker Symbol:</label><br>
  <input type="text" id="tickersymbol" name="tickersymbol" value="GOOG"><br>
  <label for="start_date">Start Date:</label><br>
  <input type="text" id="start_date" name="start_date" value="2018-08-10"><br>
  <label for="end_date">End Date:</label><br>
  <input type="text" id="end_date" name="end_date" value="2018-09-10"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>